body {
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    background-image: linear-gradient(transparent, rgb(21, 21, 51)), url(https://w.wallhaven.cc/full/d5/wallhaven-d5xw6o.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
